<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207740814077-t05gc6qgiloaeq4r0n5k7olfnuiljbms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207740814077-t05gc6qgiloaeq4r0n5k7olfnuiljbms</string>
	<key>API_KEY</key>
	<string>AIzaSyBThfzJwcxr3VTcwft3Du8mdL6UV0WQErU</string>
	<key>GCM_SENDER_ID</key>
	<string>207740814077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.mdc.test</string>
	<key>PROJECT_ID</key>
	<string>mdctest-cb0b6</string>
	<key>STORAGE_BUCKET</key>
	<string>mdctest-cb0b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207740814077:ios:d220d5dd61d129c0d47494</string>
</dict>
</plist>